@font-face {
    font-family: 'AncientMedium';
    src: url('fonts/AncientMedium.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'CloisterBlack';
    src: url('fonts/CloisterBlack.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'OldLondon';
    src: url('fonts/OldLondon.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'BlackChancery';
    src: url('fonts/BlackChancery.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'GregorianFLF';
    src: url('fonts/GregorianFLF.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Report1942';
    src: url('fonts/Report1942.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'MomsTypewriter';
    src: url('fonts/MomsTypewriter.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'OldNewspaperTypes';
    src: url('fonts/OldNewspaperTypes.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'JMHTypewriter';
    src: url('fonts/JMHTypewriter.ttf') format('truetype'), url('fonts/JMHTypewriter.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'JMHTypewriter';
    src: url('fonts/JMHTypewriter-Bold.ttf') format('truetype'), url('fonts/JMHTypewriter-Bold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'JMHTypewriter';
    src: url('fonts/JMHTypewriter-Thin.ttf') format('truetype'), url('fonts/JMHTypewriter-Thin.otf') format('opentype');
    font-weight: thin;
}

:root {
    /* --truth-color:rgba(234, 234, 234, 0.878); */
    --main-font: 'JMHTypewriter';
    --main-title-font: 'OldNewspaperTypes';
    --truth-font: 'JMHTypewriter';
    --truth-title-font: 'OldLondon';
    --truth-title-font-alt: 'MomsTypewriter';
    --main-font-color: rgb(255, 255, 255);
    --deemed-font-color: rgba(255, 255, 255, 0.9);
    /* --truth-font-color: rgb(255, 255, 255); */
    --main-background-color: rgb(32, 38, 46);
    --darker-background-color: rgb(23, 29, 34);
    --lighter-background-color: rgb(50, 61, 72);
    --news-border-color: rgb(100, 100, 100);
    --image-border-color: rgb(11, 11, 11);
    --link-color: rgb(167, 180, 254);
    --link-color-active: rgb(234, 235, 255);
    --link-color-visited: rgba(189, 200, 255, 0.7);
}

body {
    background-color: var(--main-background-color);
    color: var(--main-font-color);
    font-family: var(--main-font), serif;
    margin: 0;
    padding: 20px;
    margin: 0 auto 0 auto;
    justify-content: center;
}

h1, h2, h3, h4 {
    text-align: center;
}

.website-name {
    font-family: var(--truth-title-font), serif;
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 2.3rem;
    margin-top: 1rem;
}

.main-title {
    font-family: var(--main-title-font), serif;
    font-size: 1.2rem;
    text-align: center;
}

.truth-title {
    font-family: var(--truth-title-font), serif;
    font-size: 1.7rem;
    text-align: center;
    text-shadow:
    -1px -1px 0 #000,
    0   -1px 0 #000,
    1px -1px 0 #000,
    1px  0   0 #000,
    1px  1px 0 #000,
    0    1px 0 #000,
   -1px  1px 0 #000,
   -1px  0   0 #000;
}

.facade-sign {
    /* color: var(--truth-color); */
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
    font-family: var(--truth-title-font), serif;
    font-size: 2.5rem;
    text-align: center;
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

.news-box {
    /* background-color: #444; */
    border: 1px solid var(--news-border-color);
    border-radius: 5px;
    padding: 1.5rem;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    max-width: 1000px;
}

.news-source {
    color: var(--deemed-font-color);
    font-weight: thin;
    font-size: 0.8rem;
    text-align: right;
    padding-right: 0.1rem;
}

.truth-text {
    /* color: var(--truth-color); */
    /* -webkit-text-stroke: 1px #111; */
    font-family: var(--truth-font), serif;
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

.news-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.6rem;
    width: 70%;
    border: 1px solid var(--image-border-color);
    border-radius: 5px;
    /* padding: 0.5rem; */
}

.news-reactions {
    text-align: center;
}

a:link {
    color: var(--link-color) !important;
}

a:visited {
    color: var(--link-color-visited) !important;
}

a:hover, a:active {
    color: var(--link-color-active) !important;
}

button {
    background-color: var(--darker-background-color);
    font-family: var(--truth-font), serif;
    font-weight: bolder;
    color: var(--main-font-color);
    /* font-weight: bold; */
    border: 1px solid var(--news-border-color);
    padding: 5px 10px;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    margin-top: 1.4rem;
    margin-bottom: 0.2rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--lighter-background-color);
}

@media screen and (max-width: 700px) {
    /* html {font-size: 15px;} */
    /* h1 {font-size: 2.2em;} */
    /* h2 {font-size: 1.6em;} */
    /* h3 {font-size: 1.5em;} */
    /* .row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
    .column {
      flex: 1;
    } */
    .news-image {width: 90%;}
}
