[flake8]
ignore = W503, E501, E231, E266
max-line-length = 119
exclude = .git, .github, .eggs, __pycache__, build, dist, notebooks, .ipynb_checkpoints, logs, .streamlit, resources
per-file-ignores = __init__.py:F401
