<!-- templates/news_article.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cthulhu News</title>
    <link
        rel="stylesheet"
        type="text/css"
        href="/static/styles.css"
    >
    <link
        id="favicon"
        rel="icon"
        type="image/x-icon"
        href="/static/images/cobra.svg"
    >
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    >
    <script src="https://unpkg.com/htmx.org@1.9.9/dist/htmx.min.js"></script>
    <script src="/static/js/news_article.js"></script>
</head>

<div class="news-area">
    <h1 class="website-name">Cthulhu News</h1>
    <div
        class="news-box"
        id="article-{{ article['scene_number'] }}"
    >
        <h2 class="main-title">{{ article['news_title'] }}</h2>
        <p>{{ article['news_summary'] }}</p>
        <div class="news-source">
            (reported by <a href="{{ article['news_url'] }}">{{ article['news_source'] }}</a> on {{
            article['published_at'][:10] }})
        </div>
        <h2 class="facade-sign">But this is just the facade</h2>
        <img
            srcset="/static/cthulhu-images/{{ article['image_meta']['cthulhu_image_name'] }}-small.jpg 500w,
            /static/cthulhu-images/{{ article['image_meta']['cthulhu_image_name'] }}-medium.jpg 1000w,
            /static/cthulhu-images/{{ article['image_meta']['cthulhu_image_name'] }}-large.jpg 1500w"
            src="/static/cthulhu-images/{{ article['image_meta']['cthulhu_image_name'] }}-default.jpg"
            alt="News Image"
            class="news-image"
        >
        <h2 class="truth-title">{{ article['scene_title'] }}</h2>
        <p class="truth-text">{{ article['scene_text'] }}</p>
        <div class="news-source">
            (reported by ███ ██████ on {{ article['published_at'][:10] }})
        </div>
        <div class="news-reactions">
            {% for reaction, reaction_count in article['reactions']['votes'].items() %}
            {% if reaction in ['truth', 'lie'] %}
            <button
                class="button button-react"
                data-react-btn="{{ article['scene_number'] }}"
                hx-target="#{{ reaction }}-count-{{ article['scene_number'] }}"
                hx-swap="innerHTML"
                hx-post="/react/{{ reaction }}/{{ article['scene_number'] }}"
                onclick="news_article.reactionClick(`{{ article['scene_number'] }}`)"
            >
                {{ reaction.title() }}:
                <span id="{{ reaction }}-count-{{ article['scene_number'] }}">
                    {{ reaction_count }}
                </span>
            </button>
            {% endif %}
            {% endfor %}
        </div>

        <div class="comments-box">
            <section id="comments-{{ article['scene_number'] }}">
                {% include 'comments.html' %}
            </section>
            
            <hr/>
            
            <form
                data-comment-form="{{ article['scene_number'] }}"
                hx-post="/submit_comment/{{ article['scene_number'] }}"
                hx-swap="outerHTML"
                hx-target="#comments-{{ article['scene_number'] }}"
                onsubmit="news_article.commentSubmit(`{{ article['scene_number'] }}`);"
            >
                <textarea name="comment" rows="3" placeholder="Your rumor about this event..." required></textarea><br/>
                <input type="text" name="author" placeholder="Your (fake) name" required><br/>
                <button class="button-comment" type="submit">Add a new rumour</button>
            </form>

            <div class="thanks-message" id="thanks-message-{{ article['scene_number'] }}" style="display:none;">
                Your voice have been heard.
            </div>
        </div>

        <div style="text-align:center"> 
            <button
                class="button"
                onclick="location.href='/'"
            >
                ← Back
            </button>
        </div>
    </div>
</div>