<!-- templates/news_page.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cthulhu News</title>
    <link
        rel="stylesheet"
        type="text/css"
        href="/static/styles.css"
    >
    <link
        id="favicon"
        rel="icon"
        type="image/x-icon"
        href="/static/images/cobra.svg"
    >
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    >
    <script src="https://unpkg.com/htmx.org@1.9.9/dist/htmx.min.js"></script>
</head>

<body>
    <div class="news-area">
        <h1 class="website-name">Cthulhu News</h1>
        {% for article in news_articles %}
        <div
            class="news-box"
            id="article-{{ article['id'] }}"
        >
            <h2 class="main-title">{{ article['title'] }}</h2>
            <p>{{ article['original_text'] }}</p>
            <div class="news-source">
                (reported by <a href="{{ article['url'] }}">{{ article['media_source_name'] }}</a> on {{
                article['published_at'][:10] }})
            </div>
            <h2 class="facade-sign">But this is just the facade</h2>
            <img
                srcset="/static/cthulhu-images/{{ article['meta']['cthulhu_image_name'] }}-small.jpg 500w,
                /static/cthulhu-images/{{ article['meta']['cthulhu_image_name'] }}-medium.jpg 1000w,
                /static/cthulhu-images/{{ article['meta']['cthulhu_image_name'] }}-large.jpg 1500w"
                src="/static/cthulhu-images/{{ article['meta']['cthulhu_image_name'] }}-default.jpg"
                alt="News Image"
                class="news-image"
            >
            <h2 class="truth-title">{{ article['cthulhu_new_title'] }}</h2>
            <p class="truth-text">{{ article['cthulhu_truth'] }}</p>
            <div class="news-source">
                (reported by ███ ██████ on {{ article['published_at'][:10] }})
            </div>

            <div style="text-align:center"> 
                <button
                    class="button"
                    onclick="location.href='/article/{{ article['id'] }}'"
                >
                    Go to the article →
                </button>
            </div>

        </div>
        {% endfor %}
    </div>
</body>

</html>