<!-- templates/news_article.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cthulhu News</title>
    <link
        rel="stylesheet"
        type="text/css"
        href="/static/styles.css"
    >
    <link
        id="favicon"
        rel="icon"
        type="image/x-icon"
        href="/static/images/cobra.svg"
    >
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    >
    <script src="https://unpkg.com/htmx.org@1.9.9/dist/htmx.min.js"></script>
    <script src="/static/js/main.js"></script>
</head>

<div class="news-area">
    <h1 class="website-name">Cthulhu News</h1>
    <div
        class="news-box"
        id="article-{{ article['id'] }}"
    >
        <h2 class="main-title">{{ article['title'] }}</h2>
        <p>{{ article['original_text'] }}</p>
        <div class="news-source">
            (reported by <a href="{{ article['url'] }}">{{ article['media_source_name'] }}</a> on {{
            article['published_at'][:10] }})
        </div>
        <h2 class="facade-sign">But this is just the facade</h2>
        <img
            srcset="/static/cthulhu-images/{{ article['meta']['cthulhu_image_name'] }}-small.jpg 500w,
            /static/cthulhu-images/{{ article['meta']['cthulhu_image_name'] }}-medium.jpg 1000w,
            /static/cthulhu-images/{{ article['meta']['cthulhu_image_name'] }}-large.jpg 1500w"
            src="/static/cthulhu-images/{{ article['meta']['cthulhu_image_name'] }}-default.jpg"
            alt="News Image"
            class="news-image"
        >
        <h2 class="truth-title">{{ article['cthulhu_new_title'] }}</h2>
        <p class="truth-text">{{ article['cthulhu_truth'] }}</p>
        <div class="news-source">
            (reported by ███ ██████ on {{ article['published_at'][:10] }})
        </div>
        <div class="news-reactions">
            {% for reaction, reaction_items in article['reactions']['choices'].items() %}
            <button
                class="button button-react"
                data-react-btn="{{ article['id'] }}"
                hx-target="#{{ reaction }}-count-{{ article['id'] }}"
                hx-swap="innerHTML"
                hx-post="/react/{{ reaction }}/{{ article['id'] }}"
                onclick="main.reactionClick(`{{ article['id'] }}`)"
            >
                {{ reaction_items['pretty'] }}:
                <span id="{{ reaction }}-count-{{ article['id'] }}">
                    {{ reaction_items['value'] }}
                </span>
            </button>
            {% endfor %}
        </div>

        <div class="comments-box">
            <section id="comments-{{ article['id'] }}">
                {% include 'comments.html' %}
            </section>
            
            <hr/>
            
            <form
                data-comment-form="{{ article['id'] }}"
                hx-post="/submit_comment/{{ article['id'] }}"
                hx-swap="outerHTML"
                hx-target="#comments-{{ article['id'] }}"
                onsubmit="main.commentSubmit(`{{ article['id'] }}`);"
            >
                <textarea name="comment" rows="3" placeholder="Your rumor about this event..." required></textarea><br/>
                <input type="text" name="author" placeholder="Your (fake) name" required><br/>
                <button class="button-comment" type="submit">Add a new rumour</button>
            </form>

            <div class="thanks-message" id="thanks-message-{{ article['id'] }}" style="display:none;">
                Thank you for your contribution.
            </div>
        </div>

        <div style="text-align:center"> 
            <button
                class="button"
                onclick="location.href='/'"
            >
                ← Back
            </button>
        </div>
    </div>
</div>